[Archiving_Backup_Rear]
name=Relax-and-Recover (SLE_11_SP4)
type=rpm-md
baseurl=http://download.opensuse.org/repositories/Archiving:/Backup:/Rear/SLE_11_SP4/
gpgcheck=1
gpgkey=http://download.opensuse.org/repositories/Archiving:/Backup:/Rear/SLE_11_SP4/repodata/repomd.xml.key
enabled=1
