[Archiving_Backup_Rear_Snapshot]
name=Relax-and-Recover snapshot packages (SLE_11_SP4)
type=rpm-md
baseurl=http://download.opensuse.org/repositories/Archiving:/Backup:/Rear:/Snapshot/SLE_11_SP4/
gpgcheck=1
gpgkey=http://download.opensuse.org/repositories/Archiving:/Backup:/Rear:/Snapshot/SLE_11_SP4/repodata/repomd.xml.key
enabled=1
